@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .hero-section.light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  
  .hero-section.dark-mode {
    background-color: #000000;
    color: #ffffff;
  }
  
  .hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 900px;
    width: 100%;
    text-align: center;
    gap: 20px;
  }
  
  .hero-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 2.5px solid #000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .hero-image.dark-mode{
    border: 5px solid white;
    box-shadow: 5px 5px 15px white;
  }
  
  .hero-text {
    margin-left: 40px;
    font-family: 'Playfair Display', serif;
  }
  
  .hero-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
  }
  
  .hero-text h1.text-light {
    color: #000000;
  }
  
  .hero-text h1.text-dark {
    color: #ffffff;
  }
  
  @media (max-width: 768px) {
    .hero-container {
      flex-direction: column;
    }
  
    .hero-text {
      text-align: center;
    }
  }